@font-face {
    font-family: Garogier;
    src: url("font/Garogier.ttf");
  }

*{
    margin: 0;
    padding: 0;
    font-family: Garogier;
}

.main{
    width: 100%;
    min-height: auto;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;

}

.topnav{
    width: 100%; 
    text-align:center;
   
}

.logo{
   
    display:inline-block;
    width: 300px;
    cursor: pointer;
    margin: 10px 100px;
   
}


nav{
    
    text-align: center;
}

nav ul li{
    
    font-size: 30px;
    list-style: none;
    display: inline-block;
    padding: 20px 100px;

}
nav ul li a {
    text-decoration: none;
    color: #5c5c5c;
    font-size: 40px;
}nav ul li a.active{
    text-decoration: underline;
    
    text-decoration-thickness: 2px;
}
nav ul li a:hover {
    text-decoration: underline;
    color: #5c5c5c;
    font-size: 40px;
}
footer{
    width: 100%;
    height: auto;
    background-color: rgb(242, 242, 242);
    display: inline-block;
    box-sizing: border-box;
}
.all{  
    padding: 60px 100px; 
    margin: auto;
   font-family: sans-serif;
}
ul{
    list-style-type: none;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.footers{
    padding: 20px 5%;
}
.footers h4{
    font-size: 30px;
    color: #747474;
    padding-bottom: 20px;

}
.footers ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5c5c5c;
}
.footers ul li a:hover{
    text-decoration: underline;
}
footer p{
    margin-top: 50px;
    font-size: 20px;
    color: #1c1c1c;
    float: right;
    margin-right: 30px;
  }
.Page{
    margin-left: 10%;
margin-top: 2%;
margin-bottom: 5%;
margin-right: 10%;
}
h1{
    color: #5c5c5c;
}
.promotion{
    margin-top: 1.5%;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}
.promotion:hover{
    outline-color: #c0c0c0;
    outline-width: 1px;
    outline-style: solid;
}
.Page a{
    text-decoration: none;
}
.detail p{
    font-family: Garogier;
    color: #474747;
    margin-top: 2%;
    font-size: 25px;
}
.promotion img{
    
    width: 25%;
    margin-right: 2%;

}
.promotion h2{
    color: #5c5c5c;
}


@media only screen and (max-width:800px){
    .main{
        
     padding-left: 0%;
    padding-right: 0%;
       
    
    }
    nav ul{
       
        width: 100%;
        background-color: rgb(242, 242, 242);
        
        
    }
    .promotion img{
        width: 100%;
    }
    .promotion{
        display: flex;
        flex-wrap: wrap;
    }
}